extends layout

block content
  h1= title
  form(
    action='/user_create'
    method='POST'
  )
    label= 'Username'
    input(
      type='text'
      name='username'
    )
    label= 'Password'
    input(
      type='password'
      name='password'
    )
    div
      button= 'Create User'
