extends layout

block content
  h1= title
  //- form(
  //-   action='/user_create'
  //-   method='POST'
  //- )
  //-   label= 'Username'
  //-   input(
  //-     type='text'
  //-     name='username'
  //-   )
  //-   label= 'Password'
  //-   input(
  //-     type='password'
  //-     name='password'
  //-   )
  //-   div
  //-     button= 'Create User'
  form(
    action='/game_consoles/create'
    method='POST'
  )
    label= 'Game Console'
    input(
      type='text'
      name='consoleName'
    )
    label= 'Manufacturer'
    input(
      type='text'
      name='manufacturer'
    )
    div
      button= 'Add Game Console'
